{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <label for="username">Username:</label>
    {{ form.username }}
    <label for="email">Email:</label>
    {{ form.email }}
    <label for="password">Password:</label>
    {{ form.password }}
    <label for="confirm_password">Confirm Password:</label>
    {{ form.confirm_password }}
    <button type="submit">Register</button>
</form>
<p>Sudah punya akun? <a href="{{ url_for('auth.login') }}">Login</a></p>
{% endblock %}
